/* header section */
.background{
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner.profile{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}
.banner-hedding{
    font-size: 80px;
    line-height: 96px;
    display: flex;
    width: 708px;
    flex-direction: column;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
}
.banner-para{
    font-size: 18px;
    line-height: 22px;
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32;
    margin-bottom: 32;
}
.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

/* main section */
.hot-deal{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.offer{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}
.instagram{
    align-items: center;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section-description{
    margin-top: 24;
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
}
.images{
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    display: flex;
    column-gap: 24px;
}
/*latest deal section style */
/*.latest-deal{
    background-image: ('C:\projects\web assignment 1\images');
    background-repeat: no-repeat;
    background-size: cover; */
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
form{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}