/* header style */
.background{
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;

}
.banner.profile{
    width: 500px;
    height: 500px;
}
.banner-hedding{
    
    font-size: 80px;
    line-height: 96px;
    display: flex;
    width: 708px;
    flex-direction: column;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner-para{
    font-size: 18px;
    line-height: 22px;
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}