/* header section */
.background{
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}
.banner-hedding{
    font-size: 80px;
    line-height: 96px;
    display: flex;
    width: 708px;
    flex-direction: column;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
}
.banner-para{
    font-size: 18px;
    line-height: 22px;
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32;
    margin-bottom: 32;
}
.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}
/* Bonus Section */
.bonus{

} 
.bonus-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}
.bonus-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}


/* main section */
.hot-deal{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1800px;
    height: 620px;
    flex-shrink: 0;
    padding-left: 500px; 
}
.offer{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}
.offer-description{
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
}
.image{
    width: 318px;
    height: 420px;
    flex-shrink: 0;
}

/* main section 2nd part */

.instagram-data{
    text-align: center;
}
.section-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.instagram-images{
    padding: 0 200px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
}



/*latest deal section style */
.deal{
    background-image: url('../images/Rectangle\ 9.png');
    margin: auto;
    text-align: center;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 8px;

}
.deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 48px;
}
.email-button input{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}






/* footer style part */
.footer{
    background: #111010;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    text-align: center;

}
.foooter-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.footer-end{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}